[submodule "TradingSim"]
	path = TradingSim
	url = https://github.com/SimonPlazar/PSiIS-TradingBot
[submodule "WebCrawler"]
	path = WebCrawler
	url = https://github.com/Hexte/Crawler
[submodule "SentimentAnalyser"]
	path = SentimentAnalyser
	url = https://github.com/Lea-roj/Cryptorio
[submodule "PricePredictor"]
	path = PricePredictor
	url = https://github.com/Potipecan/Cryptorio
